<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://createtodolistfunctionapp20210922232603.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b5ca619-5ac4-4808-9298-a4feb9d20cb7/resourceGroups/anupsingh2008-workshop/providers/Microsoft.Web/sites/CreateToDoListFunctionApp20210922232603</ResourceId>
    <UserName>$CreateToDoListFunctionApp20210922232603</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://createtodolistfunctionapp20210922232603.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>